* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: blue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;


}

button {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 192.75px;
    display: flex;
}